* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {  
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

h1 {
    text-align: center;
    margin: 20px 40%;
    font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

li {
    margin: 0.5rem 0;
}

label {
    cursor: pointer;
}

i {
    display: inline;
    float: inline-end;
    cursor: pointer;
}

.lista {

    margin: 1.5rem 5px;
    list-style-type: none;
}

.nav {
    box-sizing: border-box;
    display: flex;
    padding: 1rem 0;
    justify-content: space-around;

    border-bottom: solid #dbdbdb 2px;
}

.boxTitle {
    display: block;
    box-sizing: border-box;
    margin: 0 26%;
    flex-direction: row;
}

.nav_list {
    box-sizing: border-box;
    display: inline;
    width: 100%;
    text-align: center;
    justify-content: space-around;
    list-style-type: none;
}

.list_item {
    box-sizing: border-box;
    cursor: pointer;
    display: inline;
    flex-direction: row;
    width: 100%;
    margin:0 28px;
    padding: 0 40px;
 
}

.bordes {
    border-bottom:solid #2f80ed 4px;
    padding: 0.8rem 3rem;
}
 

.form {
    display: block;
    padding: 1rem 0;
    margin: 0 26%;
    justify-content: center;
}

.add {
    display: inline;
    margin: auto;
    box-sizing: border-box;
}

.addTasks {
    width: 30rem;
    height: 2.8rem;
    padding: 0 1rem;
    border-radius: 0.8rem;
    border: solid #dbdbdb 2px;
}

.bt_Add {
    cursor: pointer;
    display: inline;
    float: inline-end;
    width: 6.5rem;
    height: 2.8rem;
    color: white;
    border-radius: 0.8rem;
    background-color: #2f80ed;
    border: none;
}

.checkbox {
    margin-right: 5px;
    border: solid #dbdbdb 2px;
    cursor: pointer;
}

.button {
    cursor: pointer;
    display: inline;
    float: inline-end;
    justify-content: center;
    width: 9rem;
    height: 2.5rem;
    color: white;
    background-color: #eb5757;
    border: none;
    border-radius: 0.4rem;
}

#bt_dl {
    cursor: pointer;
    display: inline;
    float: inline-start;
    margin-left: 1rem;
}